@import '../shared/styles/_colors.css';
@import '../shared/styles/fonts.css';
@import 'tailwindcss';
@tailwind base;
@tailwind components;
@tailwind utilities;
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    font-size: 100%;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    font-family: 'Outfit', sans-serif;
    font-size: 14px;
    background: var(--foreground);
    color: var(--color-neutral-900);
  }

  table {
    border-spacing: 0;
    border-collapse: collapse;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  span {
    overflow-wrap: break-word;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: var(--color-light-100);
  }
}
